<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisin.springcloud.dao.SysRoleMapper">

	<select id="findById" resultType="SysRole" parameterType="Integer">
		select role_id as roleId,role_name as roleName,role_memo as roleMemo from sys_role where role_id=#{id};
	</select>
	<select id="findAll" resultType="SysRole">
		select role_id as roleId,role_name as roleName,role_memo as roleMemo from sys_role;
	</select>
	<insert id="addSysRole" parameterType="SysRole">
		INSERT INTO sys_role(role_id,role_name,role_memo) VALUES(#{dname},DATABASE());
	</insert>

</mapper>
 

